/*
font-family: 'Darker Grotesque', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Teko', sans-serif;
*/



.container-fluid {
  
  background-color:rgb(0, 0, 0);
  margin-right: 100px;
height: 950vh;
 
  
}

@media (min-width: 768px) and (max-width: 2560px) {
  .container-fluid {
  
  
  height: 430vh;
   
    
  }
  }

/* home page*/
.cover
{
  
  width: 100%;
}

  


.jijinimg
{
  width: 100%;
  
}
.head1
{
  
  color: white;
  font-size: 30px;
  text-align: right;
 padding-right: 10px;
 margin-top: 60px;
 font-family: 'Playfair Display', serif;
}
.head
{
  font-family: 'Playfair Display', serif;
  color: white;
  font-size: 90px;
 text-align: right;
 margin-top:-15px ;
 padding-right: 10px;
 
}
.full
{
  font-family: 'Playfair Display', serif;
  color: white;
  font-size: 20px;
   text-align: right;
 margin-top:-10px ;
 padding-right: 10px;
 
}

.para
{
  color: white;
  text-align: right;
  font-size: 15px;
  padding-right: 10px;
  padding-top: 15px;
  
  font-family: 'Teko', sans-serif;
  
}
.cv
{
  border: 1px solid white;
  background-color: transparent;
  color: white;
  float: right;
  margin-top: 10px;
  margin-right:10px ;
  
}
.png
{

  width: 50%;
  text-align: center;  
}





/*social media link*/

.yt
{
  
  width: 35px;
}
.ins
{
  width: 25px;
}
.tw
{
  width: 24px;
}
.in 
{
  width: 24px;
}
.Git 
{
  width: 24px;
}
.social
{
  float: right;
}




/*about page*/

#about
{
  
  text-align: center;
  color: white;
  margin-top: 50px;
  font-family: 'Playfair Display', serif;
}

.jijin2
{
  border-radius:90% 50% 50% 90%/80% 60% 80% 60%  ;
width: 60%;
margin-top: 5%;
margin-left:18% ;
margin-bottom: 30px;

}

.aboutpara
{
 
  text-align: left;
  color: white;
  
  

  font-family: 'Teko', sans-serif;
  
}
.aboutdata
{
  color: white;
  font-size: 15px;
}
.hai
{
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 130px;
  border-radius:  20px; 
  padding: 5%;
    background-color: #292929;
}
.html {width: 90%; background-color: #ffffff;}
.css {width: 80%; background-color: #ffffff;}
.js {width: 65%; background-color: #ffffff;}
.php {width: 60%; background-color: #ffffff;}
.skills1 {
  text-align: right;
  padding-top: 1px;
  padding-bottom: 0px;
  color: rgb(10, 7, 7);
}
.mmm
{
  
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
  
}
.pa
{
  color: white;
  margin-left: 5%;
  margin-right: auto;
}
.skilll
{
  text-align: center;
  color: white;
  margin-top: 50px;
  font-family: 'Playfair Display', serif;
}
.skills123
{
 width: 30%;
 
}
/* @media (max-width: 2560px) and (max-width:768 ) { 
  .skills123
{
margin-top:-35%;
width: 20%;

}
.jijin2
{
  margin-bottom: 40%;
}
 } */



/*service page*/

#service
{
  text-align: center;
  color: white;
  margin-top: 50px;
  font-family: 'Playfair Display', serif;
  
}


.serpng
{
  width: 60px;
  margin-bottom: 20px;
}
.pnghead
{
  margin-bottom: 20px;

  font-size: 25px;
  text-align: center;
  color: white;
  padding-top: 5px;
}
.servicepara
{
  
  color: white;
  text-align: center;
  font-family: 'Teko', sans-serif;

}
.servicebox
{
  background-color: #292929;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  
}









#education
{
  text-align: center;
  color: white;
  margin-top: 50px;
  font-family: 'Playfair Display', serif;
  
}
.edudiv
{
  background-color: #292929;
  margin: auto;
  
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  width: 80%;
  
}
.edubox
{
  border-left: 6px solid white;
  margin-left: 20%;
  width: 60%;
  
  margin-top:20px ;

  
}
.edudate
{
  padding-left: 9px;
  color: white;
  font-size: 13px;
}
.highschool
{
  font-size: 30px;
  color: white;
  padding-left: 9px;
  padding-top:6px ;
  font-family: 'Teko', sans-serif;
  
}
.highpara
{
  font-size: 15px;
  padding-left: 9px;
  color: white;
  padding-top:6px ;
  font-family: 'Teko', sans-serif;
}


#works
{
  text-align: center;
  color: white;
  margin-top: 50px;
  font-family: 'Playfair Display', serif;
}
.appleilogo
{
  width: 25%;
  margin-left: 50%;
  border-radius: 30px;
}
.mclogo
{
  width: 25%;
  border-radius: 30px;
}













#contac
{
  text-align: center;
  color: white;
  margin-top: 50px;
  font-family: 'Playfair Display', serif;
  
 
}
.conpara
{
  color: white;
  font-family: 'Teko', sans-serif;
 width: 50%;
  text-align: center;
  margin: auto;
}
.talk
{
  color: white;
  font-family: 'Teko', sans-serif;
  font-size: 20px;
  text-align: right;
}

.sociallin
{
  text-align: right;
}

.conbox
{
  background-color: #292929;
  border-radius: 35px;
  padding: 20px;
  width: 40%;
  
}







.conhtml
{
width: 100%;
  

  
}
.map
{
  border-radius: 50px;

}



.foot
{
  color: white;
  text-align: center;
  margin-top: 3%;
  
  padding-top: 10px;
  padding-bottom: 10px;
  height: 5vh;
 
}






























